<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/d37b62a7-d245-43dc-b4a3-508730a9f1e8/resourcegroups/functions-tests/providers/Microsoft.ContainerRegistry/registries/VictorvhnServiceBusProducer</ResourceId>
    <ResourceName>VictorvhnServiceBusProducer</ResourceName>
    <ResourceGroup>functions-tests</ResourceGroup>
    <Subscription>Pay-As-You-Go</Subscription>
    <RegistryUrl>https://victorvhnservicebusproducer.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fc8a12be-69d7-4802-bb55-b706cf17db11</ProjectGuid>
  </PropertyGroup>
</Project>